<br><br>
<h4>Purchases TECMarket</h4>
<br><br>
<div class="row">
    <br><br>
    {{#each purchases}}
    <div class="col-md-3">
        <div class="purchase">
            <div class="body">
                <h5 class="idClient">
                  Client:  {{purchases.client}}
                </h5>
                <p>Supermarket name: {{purchases.supermarketName}}</p>
                <p>Date: {{purchases.date}}</p>
                <p>Status: {{status}}</p>
                <p>Total price: {{finalPrice}}</p>
                <p>Extra Information: {{extraInformation}}</p>
                <p>Products:</p>
              
                <br><br>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<br><br><br>