<br><br>
<h4>Supermarket TECMarket</h4>
<br><br>
<div class="row">
    <br><br>
    {{#if consult}}
    <div class="col-md-3">
        <div class="purchase">
            <div class="body">
                <p>Name:  {{consult.name}}</p>
                <p>Address:  {{consult.address}}</p>
                <p>Description: {{consult.description}}</p>
                <p>Latitude:  {{consult.latitude}}</p>
                <p>Longitude:  {{consult.longitude}}</p>
                <p>Rating:  {{consult.rating}}</p>
                <p>Website:  {{consult.website}}</p>
                <br><br>
            </div>
        </div>
    </div>
    {{/if}}
</div>
<br><br><br>