<br><br>
<h4>Supermarket TECMarket</h4>
<br><br>

<div class="row">
    <br><br>
    {{#if market}}
    <div class="col-md-3">
        <div class="market">
            <div class="body">
                <h5 class="name">
                  Name :  {{market.name}}
                </h5>
                <p>latitude: {{market.latitude}}</p>
                <p>longitude: {{market.longitude}}</p>
                <p>address: {{market.address}}</p>
                <p>description: {{market.description}}</p>
                <p>international Phone: {{market.internationalPhone}}</p>
                <p>rating: {{market.rating}}</p>
                <p>is open?: {{market.schedule}}</p> 
                <p>website: {{market.website}}</p> 
                <p>Photo: {{market.photo}}</p> 
            <br><br>
            </div>
        </div>
    </div>
    {{/if}}
</div>

<br><br>
